{{- $personal := promptBoolOnce . "personal" "This my personal computer" -}}
{{- $work := false -}}

{{- $email := "me@alejandroanzola.info" -}}
{{- if not $personal -}}
    {{- $work = promptBoolOnce . "work" "This my work computer" -}}
{{- end -}}

{{- if $work -}}
    {{- $email = "aanzolaavila@swift-nav.com" -}}
{{- end -}}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"

[data]
    name = "Alejandro Anzola"
    email = {{ $email | quote }}
    personal = {{ $personal }}
    work = {{ $work }}
[data.versions]
    python2 = "2.7.18"
    python3 = "3.11.0"
[data.locations]
    zim = ".cache/zim"
[data.github]
    user = "aanzolaavila"
