[".tmux/plugins/tpm"]
  type = "git-repo"
  url = "https://github.com/tmux-plugins/tpm"
  exact = true
  stripComponents = 1
  refreshPeriod = "744h"

[".pyenv"]
  type = "git-repo"
  url = "https://github.com/pyenv/pyenv.git"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".pyenv/plugins/pyenv-virtualenv"]
  type = "git-repo"
  url = "https://github.com/pyenv/pyenv-virtualenv.git"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".zsh"]
  type = "git-repo"
  url = "https://github.com/{{- .github.user -}}/.zsh"

[".config/nvim"]
  type = "git-repo"
  url = "https://github.com/{{- .github.user -}}/.vim"
  clone.args = ["--branch", "main"]

["{{ .locations.zim }}/zimfw.zsh"]
  type = "file"
  url = "https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh"
  exact = true
  refreshPeriod = "168h"

[".config/kitty/duotone-dark-theme.conf"]
  type = "file"
  url = "https://raw.githubusercontent.com/dexpota/kitty-themes/master/themes/Duotone_Dark.conf"
  exact = true
  refreshPeriod = "744h"

["scripts/kattis/submit.py"]
  type = "file"
  url = "https://raw.githubusercontent.com/Kattis/kattis-cli/master/submit.py"
  exact = true
  refreshPeriod = "744h"

{{- if eq .chezmoi.os "darwin" }}
[".iterm2_shell_integration.zsh"]
  type = "file"
  url = "https://iterm2.com/shell_integration/zsh"
  exact = true
  refreshPeriod = "744h"
{{- end }}
