{{- $personal := promptBoolOnce . "personal" "This my personal computer" -}}
{{- $meli := false -}}

{{- $email := "anzola95avila@gmail.com" -}}
{{- if not $personal -}}
    {{- $meli = promptBoolOnce . "meli" "This is MELIs computer" -}}
{{- end -}}

{{- if $meli -}}
    {{-   $email = "alejandro.anzola@mercadolibre.com.co" -}}
{{- end -}}

[data]
    name = "Alejandro Anzola"
    email = {{ $email | quote }}
    personal = {{ $personal }}
    meli = {{ $meli }}
[data.versions]
    python2 = "2.7.18"
    python3 = "3.11.0"
