[".tmux/plugins/tpm"]
  type = "git-repo"
  url = "https://github.com/tmux-plugins/tpm"
  exact = true
  stripComponents = 1
  refreshPeriod = "744h"

[".local/bin/tat"]
  type = "file"
  url = "https://raw.githubusercontent.com/thoughtbot/dotfiles/master/bin/tat"
  exact = true
  executable = true
  stripComponents = 1
  refreshPeriod = "744h"

[".pyenv"]
  type = "git-repo"
  url = "https://github.com/pyenv/pyenv.git"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".pyenv/plugins/pyenv-virtualenv"]
  type = "git-repo"
  url = "https://github.com/pyenv/pyenv-virtualenv.git"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".zsh"]
  type = "git-repo"
  url = "https://github.com/{{- .github.user -}}/.zsh"
  refreshPeriod = "24h"

[".vim"]
  type = "git-repo"
  url = "https://github.com/{{- .github.user -}}/.vim"
  refreshPeriod = "24h"

[".vim/autoload/plug.vim"]
  type = "file"
  url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
  exact = true
  refreshPeriod = "168h"

["{{ .locations.zim }}/zimfw.zsh"]
  type = "file"
  url = "https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh"
  exact = true
  refreshPeriod = "168h"

{{- if eq .chezmoi.os "darwin" }}
[".iterm2_shell_integration.zsh"]
  type = "file"
  url = "https://iterm2.com/shell_integration/zsh"
  exact = true
  refreshPeriod = "744h"
{{- end }}
