[init]
	defaultBranch = main
[user]
	name = {{ .name }}
	email = {{ .email }}
[pull]
	ff = only
[core]
	editor = nvim
[url "git@github.com:"]
	insteadOf = https://github.com/
{{- if .meli }}
[url "git@github.com-emu:melisource/"]
    insteadOf = https://github.com/melisource/
    insteadOf = git@github.com:melisource/

[url "git@github-personal.com:aanzolaavila"]
	insteadOf = https://github.com/aanzolaavila
	insteadOf = git@github.com:aanzolaavila
{{ end -}}
