# ================================
# PLUGINS
# ================================
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'wfxr/tmux-fzf-url'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'dracula/tmux'

# ================================
# GENERAL
# ================================
# Use C-s (control and s key at the same time) as the prefix key
unbind C-b
set -g prefix C-s

set-option -sg escape-time 10
set-option -g focus-events on
set-option -g history-limit 5000

bind-key r source-file ~/.tmux.conf \; display-message "~/.tmux.conf reloaded"

bind-key i split-window -v -c '#{pane_current_path}'
bind-key p split-window -h -c '#{pane_current_path}'

is_vim='echo "#{pane_current_command}" | grep -iqE "(^|\/)g?(view|n?vim?)(diff)?$"'
# bind -n C-h if-shell "$is_vim" "send-keys C-h" "select-pane -L"

bind h "select-pane -L"
bind j "select-pane -D"
bind k "select-pane -U"
bind l "select-pane -R"

# Coarse adjustment (5 or 10 cursor cells per bump)
bind C-h "resize-pane -L 10"
bind C-j "resize-pane -D 5"
bind C-k "resize-pane -U 5"
bind C-l "resize-pane -R 10"

set -g mouse on

# Set 256 colors
set -s default-terminal "screen-256color"
set-option -sa terminal-overrides ',screen-256color:RGB'
set-option -g status-keys "emacs"

# (Un)Zoom
# <prefix>z

# Creating Windows
bind c new-window -c "#{pane_current_path}"

# Keep windows names 1-indexed
set -g base-index 1

# Renumber windows as they are created and destroyed to keep the window numbers consistent with the count
set -g renumber-windows on

# Navigation between windows is bound by default to <prefix>{n} where {n} is the window number.

# Occasionally it can be useful to "break" a pane out of the current window and into a new window.
bind-key b break-pane -d

# Prompted join-pane
bind-key J command-prompt -p "join pane from: "  "join-pane -h -s '%%'"

# Detach Session - tmux detach-session which is bound to <prefix>d will disconnect your tmux client while keeping the session alive.

# List Sessions - tmux list-sessions which is aliased to tmux ls will list out the session names and a brief summary.

bind-key t choose-tree

# Use vim keybindings in copy mode
setw -g mode-keys vi

{{ if eq .chezmoi.os "darwin" -}}
# NOTE: ONLY for OSX - $ brew install reattach-to-user-namespace
# References: https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard
set-option -g default-command "reattach-to-user-namespace -l zsh"
{{- end }}

# Setup 'v' to begin selection as in Vim
# bind-key -t vi-copy v begin-selection
# bind-key -t vi-copy y copy-pipe "reattach-to-user-namespace pbcopy"

# Update default binding of `Enter` to also use copy-pipe
# unbind -t vi-copy Enter
# bind-key -t vi-copy Enter copy-pipe "reattach-to-user-namespace pbcopy"


# <prefix> [ to start "copy-mode"
# Move to the text you want to copy using Vim-like key-bindings, i.e., k to move up a line, / to search, etc.
# v to start selection
# Move to end of text with Vim key-bindings, e.g. e for end of word. The selection will be highlighted
# y to copy the highlighted/selected text
#
# The selected text will now be in your system clipboard.

bind-key t split-window -h "nvim ~/notes.md"
bind-key T split-window -h "nvim ~/reminders.md"
# bind-key T split-window -h "nvim +\"Todoist Work\""

# Dracula theme
set -g @dracula-plugins "time"

# available colors: white, gray, dark_gray, light_purple, dark_purple, cyan, green, orange, red, pink, yellow
set -g @dracula-border-contrast true
set -g @dracula-show-flags true
set -g @dracula-show-powerline true
set -g @dracula-military-time true
set -g @dracula-day-month true
set -g @dracula-show-timezone false
set -g @dracula-ping-server "google.com"
set -g @dracula-ping-rate 5
# it can accept `session`, `smiley`, `window`, or any character.
set -g @dracula-show-left-icon session
# available plugins: battery, cpu-usage, git, gpu-usage, ram-usage, network, network-bandwidth, network-ping, weather, time
set -g @dracula-plugins "cpu-usage ram-usage network-ping time"

run '~/.tmux/plugins/tpm/tpm'
