[init]
	defaultBranch = main
[user]
	name = {{ .name }}
	email = {{ .email }}
[pull]
	ff = only
[core]
	editor = nvim
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
[url "git@github.com:"]
	insteadOf = https://github.com/
{{ if .work -}}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- end}}
