[init]
	defaultBranch = main
[user]
	name = {{ .name }}
	email = {{ .email }}
[pull]
	ff = only
[core]
	editor = nvim
[url "git@github.com:"]
	insteadOf = https://github.com/
{{- if .meli }}
[url "git@github-meli.com:mercadolibre"]
	insteadOf = https://github.com/mercadolibre
{{ end -}}
