# Taken from https://open.kattis.com/download/kattisrc

[user]
username: alejandro-anzola-avila
token: {{ (bitwarden "item" "f467e104-1210-4e68-8028-b0b8005dc9b3").notes }}

[kattis]
hostname: open.kattis.com
loginurl: https://open.kattis.com/login
submissionurl: https://open.kattis.com/submit
submissionsurl: https://open.kattis.com/submissions
