#!/bin/bash

set -eufo pipefail

{{ if .personal -}}
if ! command -v rclone &> /dev/null
then
  curl https://rclone.org/install.sh | bash
fi

{{- if eq .chezmoi.os "linux" }}
rclone completion zsh > "${fpath[1]}/_rclone"
{{ end -}}
{{- if eq .chezmoi.os "darwin" }}
rclone completion zsh > $(brew --prefix)/share/zsh/site-functions/_rclone
{{ end -}}
{{ end -}}
