{{- if .personal -}}
{{- (bitwarden "item" "c3f3714b-0c8a-47fc-8c80-af580085f80f").notes -}}
{{- end -}}

{{- if .meli -}}
{{- (bitwarden "item" "d00cc31b-330d-420e-955f-af5801338cad").notes -}}
{{- end -}}
