{{- if .personal -}}
{{- (bitwarden "item" "6ba33a73-d1d8-41fd-a328-af5800858447").notes -}}
{{- end -}}

{{- if .meli -}}
{{- (bitwarden "item" "0a3ac289-87b5-4326-a20b-af5801336321").notes -}}
{{- end -}}
